/*conception du header*/
header {
  background-color: white;
}
body {
  background-image: url("http://www.sensassion-spa.fr/templates/sensassion/images/bg-pools.jpg");
  margin: 0;
  padding: 0;
  font-family: 'Bungee Hairline', cursive;
}
/*menu*/
#navigation {
  position: absolute;
  right: 10px;
  top: 70px;
  list-style: none;
}
#navigation li {
  display: inline;
}
#navigation li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(40, 185, 210);
  padding: 30px;
}
#navigation li a:hover{background-color: rgb(39, 228, 205);}
/*titre et logo du header*/
h1 {
  color: rgb(40, 185, 210);
  font-size: 50px;
}
header img{
  margin:20px 0px 0px 80px;
}
/*fiches produits*/
#img2{
  width: 300px;
  height: auto;
  margin-left: 180px;
}
img:nth-child(3){
  width: 300px;
  height: 225px;
}
img:nth-child(4){
  width: 300px;
  height: 225px;;
}
#interieure img:nth-child(1){
  width: 300px;
  height: auto;
  margin-left: 180px;
}
#interieure img:nth-child(2){
  width: 300px;
  height: 212px;
}
#interieure img:nth-child(3){
  width: 300px;
  height: 212px;
}
#spa img:nth-child(1){
  width: 300px;
  height: 212px;
  margin-left: 180px;
}
#spa img:nth-child(2){
  width: 300px;
  height: 212px;
}
#spa img:nth-child(3){
  width: 300px;
  height: 212px;
}
main img{
  border: 2px solid white;
}
h2{
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/*conception du footer*/
footer {
  background-color: rgb(193, 159, 86);
  color: white;
  font-weight: bold;
  margin-top: 70px;
  padding-bottom: 20px;
}
footer p{
  text-align: center;
 }
footer a{margin-left: 20px;
color:white;}
#faq{margin-left: 350px;
}
footer p:nth-child(1){padding-top: 25px;}

/*tableaux tarif*/
table {
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 80px;}
th {
  border: 1px solid white;
  padding: 4px;}
td {
  border: 1px solid white;
  text-align: center;
  padding: 4px;}
caption {
  font-size: 30px;
  color: white;
  margin: 80px 0px 30px 0px;
  width: 100%;
  text-align: center;
  }
#produits {
  background-color:rgb(39, 228, 205);
}
#jacuzzi {
  width: 88%;
  margin-bottom: 100px;
}
/*formulaire de contact*/
#nom {
  display: block;
}
#prenom {
  display: block;
}
#email {
  display: block;
}
#telephone {
  display: block;
}
#typedepiscine {
  display: block;
}
#message{
  display: block;
}
label {
  font-size: 20px;
  margin-top: 10%;
  display: block;}
form {
  background-color: white;
  width: 25%;
  padding: 10px 0 10px 70px;
  margin-left: 450px;
  box-shadow: 4px 4px 2px grey;
  display: inline-block;
  color: rgb(40, 185, 210);
  font-weight: bold;
  font-size: 30px;
}
#envoyer {
  margin-top: 30px;
  margin-left: 70px;
}
#titre {
  font-size: 30px;
  margin-bottom: 40px;
}
/*maap et coordonée*/
#ounoustrouver{
  display:block;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}
#maap {
  width: 46%;
  display: inline-block;
  text-align: center;
  background-color: white;
  padding-bottom: 80px;}
#coordonee {
  width: 51%;
  display: inline-block;
  vertical-align: top;
  background-color:rgb(40, 185, 210);
  padding:0px 30px 115px 0px;
}
iframe {
  width: 300px;
}
address {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}
#maap h2 {
  color: rgb(40, 185, 210);
}
/*icon tel*/
#coordonee img {
  width: 33px;
  height: 33px;
  display: inline;}
#coordonee p {
  display: inline;
  width: 200px;
}
#telephone {
  text-align: center;
  margin-top: 30px;
}
/* responsive for iphone*/
@media  (max-width:700px) {

  body{
  width: 100%;
  height: 100%;
}
  /*menu*/
/*{border: 1px solid black;}*/
  #navigation {
    display: inline;
    margin: 80px 15px 0 0;
    width: 87%;
  }
  #navigation li a {
    padding: 2px;
    font-size: 13px;
  }
  /*titre et logo du header*/
  h1 {
    font-size: 20px;
    text-align: center;
  }
  header img{
    margin:20px 0px 0px 120px;
  }
  header {
    width: 100%;
    height: auto;
  }
  /*conception des fiches produits*/
  #img2{
    width: 200px;
    height: auto;
    margin-left: 0px;
    margin-left: 80px;
  }
  img:nth-child(3){
    width: 200px;
    height: 170px;
  }
  img:nth-child(4){
    width: 200px;
    height: 170px;;
  }
  #interieure img:nth-child(1){
    width: 200px;
    height: 170px;
    margin-left: 0px;
    margin-left: 80px;
  }
  #interieure img:nth-child(2){
    width: 200px;
    height: 170px;
  }
  #interieure img:nth-child(3){
    width: 200px;
    height: 170px;
  }
  #spa img:nth-child(1){
    width: 200px;
    height: 170px;
    margin-left: 0px;
    margin-left: 80px;
  }
  #spa img:nth-child(2){
    width: 200px;
    height: 170px;
  }
  #spa img:nth-child(3){
    width: 200px;
    height: 170px;
  }
  main img{
    display: block;
    margin-left: 80px;
  }
  h2{
    font-size: 20px;
    margin:40px 0 40px 0;
  }
  /*footer*/
  footer {
    margin-top: 30px;
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  footer p{
    font-size: 10px;
   }
  footer a{
    margin-left: 20px;
    font-size: 10px;
    display: block;
    text-align: center;
  }
  #faq{
  margin-left: 0px;
  }
  footer p:nth-child(1){
    padding-top: 5px;
  }
  /*tableaux tarif*/
  table {
    border: 1px solid white;
    margin: 0px 20px 0px 20px;
    font-size: 10px;
  }
  th {
    border: 1px solid white;
    padding: 1px;}
  td {
    border: 1px solid white;
    padding: 1px;
  }
  caption {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

    /*formulaire de contact*/
    label {
      font-size: 10px;
      margin-top: 2%;
      }
    form {
      width: 55%;
      padding: 20px 0 0px 30px;
      margin: 40px 0 8px 70px;
      box-shadow: 1px 1px 1px grey;
    }
    #envoyer {
      margin-top: 10px;
      margin-left: 50px;
    }
    #titre {
      font-size: 12px;
    }
    /*map et coordonnée*/
    #ounoustrouver{
      background-color: white;
    }
    #maap {
      width: 100%;
      display: block;
      padding-bottom: 10px;
      }
    #coordonee {
      width: 92%;
      display: block;
      padding-bottom: 10px;
      }
      #ounoustrouver h2 {
        font-size: 15px;
        padding-top: 20px;
      }
      address{
        font-size: 15px;
      }
  }

/*responsive tablette*/
  @media only screen and (min-width:768px) and (max-width:999px){

      body{
        width: 100%;
        height: 100%;
    }
      /*menu*/
    /*{border: 1px solid black;}*/
      #navigation {
        display: inline;
        margin: 150px 30px 0 0;
        width: 87%;
      }
      #navigation li a {
        padding: 10px;
        font-size: 25px;
      }
      /*titre et logo du header*/
      h1 {
        font-size: 40px;
        text-align: center;
      }
      header img{
        margin:20px 0px 0px 300px;
      }
      header {
      width: 100%;
      height: 40%;
    }
      /*conception des fiches produits*/
      #img2{
        width: 200px;
        height: 170px;
        margin-left: 65px;
      }
      img:nth-child(3){
        width: 200px;
        height: 170px;
      }
      img:nth-child(4){
        width: 200px;
        height: 170px;;
      }
      #interieure img:nth-child(1){
        width: 200px;
        height: 170px;
        margin-left: 65px;
      }
      #interieure img:nth-child(2){
        width: 200px;
        height: 170px;
      }
      #interieure img:nth-child(3){
        width: 200px;
        height: 170px;
      }
      #spa img:nth-child(1){
        width: 200px;
        height: 170px;
        margin-left: 65px;
      }
      #spa img:nth-child(2){
        width: 200px;
        height: 170px;
      }
      #spa img:nth-child(3){
        width: 200px;
        height: 170px;
      }
      main img{
        display: inline-block;
        margin-left: 10px;
      }
      h2{
        font-size: 27px;
        margin:80px 0 40px 0;
      }
      /*footer*/
      footer {
        margin-top: 30px;
        padding: 0px;
        padding-bottom: 10px;
        width: 100%;
      }
      footer p{
        font-size: 20px;
       }
      footer a{
        margin-left: 20px;
        font-size: 20px;
        display: block;
        text-align: center;
      }
      #faq{
      margin-left: 0px;
      }
      footer p:nth-child(1){
        padding-top: 5px;
      }
      /*tableaux tarif*/
      table {
        margin: 10px;
      }
      caption {
        font-size: 35px;
        margin: 80px 0px 0px 0px;
        }
      #jacuzzi {
        width: 98%;
      }
        /*formulaire de contact*/
        form {
          width: 35%;
          margin:60px 0 0 210px;
        }
        /*map et coordonnée*/
          #ounoustrouver h2 {
            font-size: 25px;
            padding-top: 20px;
          }
          address{
            font-size: 25px;
          }
          #telephone p {
            font-size: 25px;
          }
          #coordonee {
            width: 96%;

          }
          #maap {width: 100%;
          }

}
